<div class="grid-container-details">
  <div class="grid-item-details">
    <h1
      *ngIf="practiceAreaDetailss$ | async as practiceAreaDetails"
      class="mt-5 mb-5"
    >
      {{ practiceAreaDetails.title }}
    </h1>
    <ul
      class="bullet-points mb-5"
      *ngFor="let content of (practiceAreaDetailss$ | async)?.content"
    >
      <li>{{ content }}</li>
    </ul>

    <div class="flex-buttons mb-5">
      <a routerLink="../../" class="btn-details go-back">{{
        "ADMIN.GOBACK" | translate
      }}</a>
      <button
        (click)="deletePracticeArea()"
        class="btn-details btn-delete delete"
      >
        {{ "ADMIN.DELETE" | translate }}
      </button>
      <button (click)="showUpdateForm()" class="btn-details btn-update">
        {{ "ADMIN.UPDATE" | translate }}
      </button>
    </div>
  </div>
  <div class="grid-item-details">
    <div *ngIf="showForm" class="col-lg-12 col-md-12 col-sm-12">
      <form [formGroup]="practiceAreaForm" (ngSubmit)="onSubmit()" class="card">
        <div class="card-header">{{ "ADMIN.UPDATEAREA" | translate }}</div>
        <div class="card-body">
          <div class="mb-3">
            <label class="form-label">{{ "ADMIN.TITLE" | translate }}</label>
            <input
              formControlName="title"
              type="text"
              class="form-control input"
              maxlength="70"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">{{ "ADMIN.CONTENT" | translate }}</label>
            <input
              formControlName="content"
              type="text"
              class="form-control input"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">{{
              "ADMIN.TITLEINENG" | translate
            }}</label>
            <input
              formControlName="titleEn"
              type="text"
              class="form-control input"
              maxlength="70"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">{{
              "ADMIN.CONTENTINENG" | translate
            }}</label>
            <input
              formControlName="contentEn"
              type="text"
              class="form-control input"
            />
          </div>
        </div>
        <div class="card-footer text-muted">
          <button type="submit" class="btn-details submit">
            {{ "ADMIN.SUBMIT" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
