.login-section {
  padding: 20rem 0rem;
  font-family: "NotoSansGeorgian-Regular";
}
.form-group {
  width: 100%;
  font-size: 1.8rem;
}
.login-form {
  background-color: #333333;
  color: #ffffffbe;
  border-radius: 1.6rem;
  padding: 5rem;
  width: 40%;
}
.error-message {
  color: rgb(157, 26, 26);
}

.form-group input {
  background-color: #ffffffd3;
}
.form-group ::placeholder {
  font-size: 1.4rem;
}
.btn {
  padding: 1rem 10rem;
  border-radius: 1.6rem;
  font-size: 1.8rem;
  background-color: rgb(226, 178, 21);
  letter-spacing: 0.2rem;
}
.form-control {
  padding: 1.5rem;
}
input {
  font-size: 1.6rem;
}
input:hover,
input:focus {
  box-shadow: rgb(226, 178, 21);
  border-color: rgb(226, 178, 21);
  outline: none;
}
hr {
  height: 2px;

  color: #333333;
  background-color: #333333;
  width: 100%;
}

button:focus {
  background-color: rgb(226, 178, 21);
}
.text-red {
  color: rgb(226, 178, 21);
  font-size: 1.3rem;
  padding-top: 0.5rem;
  margin-bottom: 0;
}

@media only screen and (max-width: 999px) {
  .login-form {
    padding: 5rem;
    width: 60%;
  }
  .login-section {
    padding: 10rem 0rem;
  }
  /* form {
    width: 500px;
  } */
}

@media only screen and (max-width: 585px) {
  .login-form {
    padding: 5rem;
    width: 80%;
  }
  h1 {
    text-align: center;
  }
  .login-section {
    padding: 6rem 0rem;
  }
  /* form {
    width: 500px;
  } */
  label {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 405px) {
  .login-form {
    padding: 5rem;
    width: 100%;
    border-radius: 0rem;
  }
  .login-section {
    padding: 6rem 0rem;
  }

  .btn {
    padding: 1rem 7rem;
  }
}
