<footer class="footer-background">
  <div class="container-custom grid grid--footer">
    <div class="logo-col">
      <div class="flex-start">
        <img class="main-logo" src="../../assets/logo.png" alt="" />
        <div class="name">
          <a>GA LEGAL</a>
          <a>GEORGIA</a>
        </div>
      </div>
      <p class="footer-info">
        {{ "FOOTER.GALEGAL" | translate }}
      </p>
      <p class="copyright">
        Copyright &copy; <span class="year">2027</span> by Salome Chkhaidze. All
        rights reserved.
      </p>
    </div>
    <nav class="nav-col">
      <p class="footer-heading">{{ "FOOTER.NAVIGATION" | translate }}</p>
      <ul class="footer-nav">
        <li>
          <a class="footer-link" routerLink="about">{{
            "NAV.ABOUT" | translate
          }}</a>
        </li>
        <li>
          <a class="footer-link" routerLink="practiceareas">{{
            "NAV.PRACTICEAREAS" | translate
          }}</a>
        </li>
        <li>
          <a class="footer-link" routerLink="contactus">{{
            "NAV.CONTACT" | translate
          }}</a>
        </li>
      </ul>
    </nav>
    <nav class="nav-col">
      <p class="footer-heading">{{ "FOOTER.CONTACT" | translate }}</p>
      <ul class="footer-nav">
        <li>
          <a class="footer-link" href="#">{{
            "CONTACTUS.PHONE" | translate
          }}</a>
        </li>
        <li>
          <a class="footer-link" href="#">{{
            "CONTACTUS.EMAIL" | translate
          }}</a>
        </li>
        <li>
          <a class="footer-link" href="#">{{
            "CONTACTUS.ADDRESS" | translate
          }}</a>
        </li>
      </ul>
    </nav>
    <nav class="nav-col">
      <p class="footer-heading">{{ "FOOTER.FOLLOWUS" | translate }}</p>
      <div class="flex-start">
        <ul class="main-nav-list no-padding nav-icons">
          <li>
            <div class="icons">
              <a
                class="social-media-icon"
                href="https://www.facebook.com/people/GA-Legal-Georgia/100089353555116/"
                target="_blank"
              >
                <img
                  class="icon"
                  src="../../../assets/logo-facebook.svg"
                  alt="Facebook"
                />
              </a>
            </div>
          </li>
          <li>
            <div class="icons">
              <a
                class="social-media-icon"
                href="https://www.instagram.com/galegalgeorgia/"
                target="_blank"
              >
                <img
                  class="icon"
                  id="icon"
                  src="../../../assets/logo-instagram.svg"
                  alt="Instagram"
                />
              </a>
            </div>
          </li>
          <li>
            <div class="icons">
              <a
                class="social-media-icon"
                href="https://www.linkedin.com/company/ga-legal-georgia/"
                target="_blank"
              >
                <img
                  class="icon"
                  src="../../../assets/logo-linkedin.svg"
                  alt="Linkedin"
                />
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</footer>
