<section class="container about flex-column section-first">
  <h1 class="pb-5">{{ "ABOUTUS.ABOUTUS" | translate }}</h1>
  <div class="content">
    <p>
      {{ "ABOUTUS.PAR1" | translate }}
    </p>
    <p>
      {{ "ABOUTUS.PAR2" | translate }}
    </p>
    <p>
      {{ "ABOUTUS.PAR3" | translate }}
    </p>
    <p>
      {{ "ABOUTUS.PAR4" | translate }}
    </p>
    <h1>GA LEGAL GEORGIA</h1>
    <h2>Where Trust Meets Credible Solutions</h2>
  </div>
</section>
<section class="yellow-bc">
  <div class="container about flex-column section-two">
    <h1 class="pb-3 contactus">{{ "HOME.CONTACTUS" | translate }}</h1>

    <div class="grid-container contact-info">
      <div class="grid-item">
        <app-button>{{ "HOME.BOOK" | translate }}</app-button>
      </div>
      <div class="grid-item">
        <div class="mobile flex-column">
          <p class="contact-us">{{ "ABOUTUS.CALLUS" | translate }}</p>
          <p class="number">{{ "CONTACT.NUMBER" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
